.bal{
    height: 300px;
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    align-content:flex-end;
}

.bal div{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}