

.tb{
   
    border-style: solid;
    padding: 20px;
    width: auto;
    background: bisque;
    display: flex;
    justify-content: space-between;
    
    
}

#a{
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 150px;
    width: 150px;
}

#b{
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 150px;
    width: 150px;
}

#h1_1{
    font-size: xx-large;
    display: flex;
    color: darkgreen;
    justify-content: center;
    

}

.head{
    border-style: none;
    padding: 10px;
    background: lightskyblue;
    text-align: center;
    color: darkred;
    word-spacing: 80px;
}


#h1_2{
    text-align: center;
}

.LGBT{
    display: flex;
    color: indigo;
    text-align: center;
    padding:40px;
    justify-content: center;
    flex-direction: column;
}

#h1_3{
    text-align: center;
}

.venus{
   display: flex;
   justify-content: center;
   justify-content: space-around;
    
   
}

.clerico{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#map{
    height: 350px;
    width: 350px;
}

#vid{
    height: 350px;
    width: 350px;
}

.tabel_a{
   border-style: dotted;
   border-color: red;

}

#divc{
    display: flex;
    justify-content: center;
}

#lett{
    color: black;
    text-align: center;
}

#tiff{
    color: red;
    text-align: center;
}

.popi{
    background-color: yellow;
    padding: 10px;
    border: none;
    width: fit-content;
    margin: 20px auto; 
}

#link{
    color: rgb(173, 0, 0);
}

.tb2{
    display: flex;
    align-content: center;
    flex-direction: row;
    border-style: none;
    background-color: bisque;
    justify-content: space-between;
}

#c{
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
}



#d{
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 100px;
    width: 75px;
}

#tect{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans";

}

